@import 'compass';
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import url(https://fonts.googleapis.com/css?family=Ovo|Muli:400,300,300italic,400italic);
@include font-face("Morpheus", font-files("../../fonts/morpheus/Morpheus.tff.eot", "../../fonts/morpheus/Morpheus.tff.svg", "../../fonts/morpheus/Morpheus.ttf.woff"));
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$light-blue : rgb(41,53,97);
$blue: darken($light-blue, 7);
$gold: #DFA55A;

$sidebarWidth : 336px;
$contentWidth : 638px;
$listRows : 1;
$listHeight : 150px;
$width : $sidebarWidth - 66;

$screen-xs-max: 0 !important;
$grid-float-breakpoint: 0 !important;

// Navbar Responsive Hack
@media (max-width: 768px) {
    .navbar-header {
        float: left;
    }

    .navbar {
        border-radius: 4px;
        min-width: 400px;
    }

    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }

    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
    .container {
        min-width: 1000px;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-static-top {
        border-radius: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }

    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }

    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    }
}

.navbar-inverse {
  background: $blue !important;
  a {
    text-transform: uppercase;
    font-family: 'Ovo';
  }
  .active > a {
    background: darken($blue, 10) !important;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
  text-align: center;
}

body {
  padding: 50px 0 0 0;
  background: darken(#222, 20);
  font-family: 'Muli';
  color: #aaa;
  a, a:link, a:visited, a:active {
    color: $gold;
    font-weight: 400;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ovo';
  }
}

h1 {}
h2 {}
h3 {}
h4 {
  line-height: 26px;
}
h5 {}
h6 {}
p {
  font-size: 14px;
  line-height: 18px;
}
strong {
  font-weight: 600;
  &.special {
    color: $gold;
    &:before {
      content: '<';
    }
    &:after {
      content: '>';
    }
  }
}
.rules { ul {
  margin: 4px 0;
  padding: 0 0 0 0;
  list-style: none;
  li {
    margin: 12px 0;
    padding: 0 0 0 40px;
    background-image: url('/images/ui/ui-checkbox-check.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: top left;
  }
} }

.alert {
  &.alert-info {
    text-align: center;
    color: #aaa;
  }
  &.alert-special {
    background: $gold;
    color: $blue;
    .btn-primary {
      background: $blue;
      border-color: $blue;
      color: white;
    }
  }
}

hr {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

h3 {
  color: white;
}

.navbar-brand {
  margin-left: -15px !important;
  img.emblem {
    float: left;
    width: 30px;
    margin-right: 10px;
    position: relative;
    top: -4px;
  }
  img.logo {
    width: 250px;
    position: relative;
    top: 3px;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.colorizer {
  width: 100%;
  float: left;
  &.container-color {
    background: darken(#333, 10);
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.container {
  &.body { padding: 20px 0; }
  width: 1000px;
}

// /* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//   .container {
//     max-width: 1000px;
//   }
//
//   /* Remove the padding we set earlier */
//   .header,
//   .marketing,
//   .footer {
//     padding-left: 0;
//     padding-right: 0;
//   }
//   /* Space out the masthead */
//   .header {
//     margin-bottom: 30px;
//   }
//   /* Remove the bottom border on the jumbotron for visual effect */
//   .jumbotron {
//     border-bottom: 0;
//   }
// }


.newsList {
  width: $sidebarWidth;
  float: right;
  @include border-radius(5px);
  ul.guild-news {
    list-style: none;
    margin: 0 !important;
    padding: 0;
    li {
      background-color: darken(#222, 5);
      border-radius: 5px;
      margin: 5px 0 !important;
      display: block;
      list-style: none;
      padding: 10px;
      color: #666;
      font-size: 13px;
      .icontinyl {
        background-position: 0 4px !important;
        padding-left: 22px !important;
        span {
          margin-left: 0 !important;
        }
      }
      span {
        margin-right: 5px;
      }
      a {
        display: block;
        font-size: 16px;
        text-decoration: none;
        color: #111;
        &.icontinyl {
          color: $gold;
        }
      }
      time {
        display: block;
        color: #444;
        font-size: 11px;
      }
    }
  }
}



.roster {
  table {
    color: #eee;
    width: 100%;
    border-collapse: collapse;
    border: none;
    tr {
      border: none;
      margin: 0;
      padding: 0;
      td, th {
        background: #222;
      }
    }
    th, td {
      padding: 8px;
      margin: 0;
      border: none;
      &:nth-child(1) {
        width: 40px; text-align: center; }
      &:nth-child(2) { padding-left: 20px !important; text-align: left; }
      &:nth-child(3) { text-align: center; }
      &:nth-child(4) { text-align: center; }
      &:nth-child(5) { text-align: center; }
      &:nth-child(6) { text-align: center; }
      &:nth-child(7) { text-align: center; }
      &:nth-child(8) { text-align: right; }
    }
    thead {
      tr {
        th {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500 !important;
          color: #777;
          padding: 12px 8px;
          &:first-child {
            @include border-radius(5px 0 0 0);
          }
          &:last-child {
            @include border-radius(0 5px 0 0);
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(2n+1) {
          td {
            background: darken(#222, 5);
          }
        }
      }
      td {
        &:nth-child(2) {
          font-weight: 500;
          font-size: 18px;
        }
        img {
          height: 30px;
          width: 30px;
          @include border-radius(5px);
          position: relative;
          top: 2px;
        }
        &:nth-child(1) {
          img {
            width: 40px;
            height: 40px;
          }
        }
        &:nth-child(8) {
          img {
            margin-left: 5px;
            height: 12px;
            width: 12px;
          }
        }
      }
    }
  }
}

.quickStats {
  width: $contentWidth;
  float: left;
  img {
    max-width: 100%;
    @extend .border;
  }
}

.memberList {
  float: right;
  width: $sidebarWidth;
  ul.roster-window {
    @include reset-list-style();
    margin: 0 !important;
    padding: 0;
    li {
      @extend .border-noimage;
      display: inline-block;
      height: $listHeight;
      width: ($width / $listRows) - 5;
      margin: 0 6px 0 0;
      &:nth-child(5) {
        margin: 0 0 0 0 !important;
      }
      overflow: hidden;
      @include reset-list-style();
      @include box-sizing(border-box);
      @include background-size(150%);
      @include border-radius(5px);
      background-position: 58% 40% !important;
      padding: 0;
      position: relative;
      h3 {
        @include filter-gradient(#000000, #000000, vertical); // IE6-9
        @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%));
        color: lighten(rgb(225,185,88), 8);
        font-size: 20px;
        margin: 0;
        padding: 0;
        line-height: 100%;
        font-weight: normal !important;
        display: block;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 20px 0;
      }
      .wRank {
        height: 30px;
        position: absolute;
        bottom: 45px;
        left: 50%;
        margin-left: -15px;
      }
      .wClass,
      .wSpec {
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }
  }
}



#full-clndr {
  background: orange;
  float: left;
  max-width: 100%;
  width: 100%;
  background-color: red;
  font-weight: 700;
  @include box-shadow(0 4px 0 darken(red, 5%));

  .clndr-controls {
    padding: 14px;
    background-color: red;
    color: white;
    text-align: center;
    .clndr-previous-button {
      float: left;
      text-align: left;
    }
    .clndr-next-button {
      float: right;
      text-align: right;
    }
    .clndr-previous-button, .clndr-next-button {
      width: 30px;
      cursor: pointer;
      &:hover
      {
        opacity: 0.5;
      }
    }
  }

  .clndr-grid
  {
    float: left;
    width: 65%;
    border-right: 2px solid white;

    .days-of-the-week
    {
      width: 100%;
      background-color: blue;

      .header-day
      {
        float: left;
        width: 14.2857%;
        padding: 14px;
        text-align: center;
        color: white;
      }
    }

    .days
    {
      width: 100%;

      .day, .empty
      {
        float: left;
        width: 14.2857%;
        height: 66px;
        padding: 24px 0;

        text-align: center;
        color: #4f4f4f;
        background-color: red;
        border-bottom: 2px solid white;

        background-color: purple;
        background-size: cover;
        background-position: center;

        &.event
        {
          .day-number
          {
            padding-bottom: 4px;
            border-bottom: 2px solid darkblue;
          }
        }

        &.adjacent-month
        {
          .day-number
          {
            opacity: 0.3;
          }
        }
      }

      .today
      {
        background-color: white;
        background-image: none;
      }

    }
  }

  .event-listing
  {
    float: left;
    width: 35%;

    .event-listing-title
    {
      padding: 14px;
      background-color: blue;
      text-align: center;
      color: white;
      letter-spacing: 1px;
    }
    .event-item
    {
      padding: 14px;
      color: #4f4f4f;
    }
    .event-item-location
    {
      font-weight: 400;
    }
  }
}


.footer {
  color: #555;
  clear: left;
  background: #222;
  padding: 30px 0;
  border: none !important;
  text-align: center;
  .footer-img {
    width: 150px;
  }
  credits {
    display: block;
    font-size: 12px;
    padding-top: 30px;
  }
}


.border {
  background-image: url('/images/ui/ui-background-rock.png') !important;
  border-image-source: url('/images/ui/border-tile.png');
  border-image-slice: 12 12 12 12;
  border-image-width: 12px 12px 12px 12px;
  border-image-repeat: stretch stretch;
  margin-bottom: 20px;
}

.border-noimage {
  border-image-source: url('/images/ui/border-tile.png');
  border-image-slice: 12 12 12 12;
  border-image-width: 12px 12px 12px 12px;
  border-image-repeat: stretch stretch;
}

.padded {
  padding: 10px 30px 30px 30px;
}

.blog {
  list-style: none;
  margin: 0;
  width: $contentWidth;
  color: #ddd;
  article {
    list-style: none;
    border-bottom: 3px solid #333;
    padding: 10px 0;
    h2 {
      padding: 0 0 10px 0;
      margin: 0;
    }
    img {
      max-width: 100%;
    }
    .header-image {
      margin-bottom: 20px;
    }
  }
}


div.filters {
  text-align: right;
  position: relative;
  top: -30px;

  a {
    display: block;
    float: right;
    overflow: hidden;
    font-size: 10px;
    line-height: 31px;
    text-align: center;
    padding: 0;
    margin: 0;
    background: url('/images/ui/ui-microbuttoncharacter-up.png') top left no-repeat;
    width: 24px;
    height: 31px;
    text-decoration: none !important;
    &:hover {
      background: url('/images/ui/ui-microbuttoncharacter-down.png') top left no-repeat;
      text-decoration: none !important;
    }
    &.active {
      background: url('/images/ui/ui-microbuttoncharacter-down.png') top left no-repeat;
      color: white;
    }
  }
}
