@import 'compass';
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import url(https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Rubik:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@include font-face("Morpheus", font-files("../../fonts/morpheus/Morpheus.tff.eot", "../../fonts/morpheus/Morpheus.tff.svg", "../../fonts/morpheus/Morpheus.ttf.woff"));
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
  text-align: center;
}

body {
  padding: 50px 0 0 0;
  background: #222;
  font-family: 'Rubik';
  color: #aaa;
  a, a:link, a:visited, a:active {
    color: #DFA55A;
  }
}

.alert {
  &.alert-info {
    text-align: center;
    border: none !important;
    background: #222 !important;
    color: #aaa !important;
  }
}

h3 {
  color: white;
}

.navbar-brand {
  img.emblem {
    float: left;
    width: 30px;
    margin-right: 10px;
    position: relative;
    top: -4px;
  }
  img.logo {
    width: 250px;
    position: relative;
    top: 3px;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

.colorizer {
  width: 100%;
  float: left;
  &.container-color {
    background: #333;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.container {
  &.body { padding: 20px 0; }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.newsList {
  background: #222;
  width: 250px;
  float: right;
  @include border-radius(5px);
  ul {
    list-style: none;
    margin: 0 !important;
    padding: 10px !important;
    li {
      background-color: darken(#222, 5);
      border-radius: 5px;
      margin: 5px 0 !important;
      display: block;
      list-style: none;
      padding: 10px;
      color: #666;
      font-size: 13px;
      span {
        margin-right: 5px;
      }
      a {
        display: block;
        font-size: 16px;
        text-decoration: none;
      }
      time {
        display: block;
        color: #444;
        font-size: 11px;
      }
    }
  }
}



.roster {
  table {
    color: #eee;
    width: 100%;
    border-collapse: collapse;
    border: none;
    tr {
      border: none;
      margin: 0;
      padding: 0;
      td, th {
        background: #222;
      }
    }
    th, td {
      padding: 8px;
      margin: 0;
      border: none;
      &:nth-child(1) {
        width: 40px; text-align: center; }
      &:nth-child(2) { padding-left: 20px !important; text-align: left; }
      &:nth-child(3) { text-align: center; }
      &:nth-child(4) { text-align: center; }
      &:nth-child(5) { text-align: center; }
      &:nth-child(6) { text-align: center; }
      &:nth-child(7) { text-align: center; }
      &:nth-child(8) { text-align: right; }
    }
    thead {
      tr {
        th {
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 500 !important;
          color: #777;
          padding: 12px 8px;
          &:first-child {
            @include border-radius(5px 0 0 0);
          }
          &:last-child {
            @include border-radius(0 5px 0 0);
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(2n+1) {
          td {
            background: darken(#222, 5);
          }
        }
      }
      td {
        &:nth-child(2) {
          font-weight: 500;
          font-size: 18px;
        }
        img {
          height: 30px;
          width: 30px;
          @include border-radius(5px);
          position: relative;
          top: 2px;
        }
        &:nth-child(1) {
          img {
            width: 40px;
            height: 40px;
          }
        }
        &:nth-child(8) {
          img {
            margin-left: 5px;
            height: 12px;
            width: 12px;
          }
        }
      }
    }
  }
}

.memberList {
  background: url('../images/ui/burlap.psd');
  @include background-size(cover);
  border-radius: 5px;
  ul.roster-window {
    @include reset-list-style();
    margin: 0 !important;
    li {
      display: inline-block;
      height: 180px;
      width: 50%;
      overflow: hidden;
      @include reset-list-style();
      @include box-sizing(border-box);
      @include background-size(150%);
      @include border-radius(5px);
      background-position: 58% 40% !important;
      margin: 3px 1%;
      padding: 10px;
      position: relative;
      h3 {
        @include filter-gradient(#000000, #000000, vertical); // IE6-9
        @include background-image(linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%));
        font-family: 'Morpheus';
        color: lighten(rgb(225,185,88), 8);
        font-size: 20px;
        margin: 0;
        padding: 0;
        line-height: 100%;
        font-weight: normal !important;
        display: block;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 20px 0;
      }
      .wRank {
        height: 30px;
        position: absolute;
        bottom: 45px;
        left: 50%;
        margin-left: -15px;
      }
      .wClass,
      .wSpec {
        width: 20px;
        height: 20px;
        overflow: hidden;
      }
    }
  }
}



#full-clndr {
  background: orange;
  float: left;
  max-width: 100%;
  width: 100%;
  background-color: red;
  font-weight: 700;
  @include box-shadow(0 4px 0 darken(red, 5%));

  .clndr-controls {
    padding: 14px;
    background-color: red;
    color: white;
    text-align: center;
    .clndr-previous-button {
      float: left;
      text-align: left;
    }
    .clndr-next-button {
      float: right;
      text-align: right;
    }
    .clndr-previous-button, .clndr-next-button {
      width: 30px;
      cursor: pointer;
      &:hover
      {
        opacity: 0.5;
      }
    }
  }

  .clndr-grid
  {
    float: left;
    width: 65%;
    border-right: 2px solid white;

    .days-of-the-week
    {
      width: 100%;
      background-color: blue;

      .header-day
      {
        float: left;
        width: 14.2857%;
        padding: 14px;
        text-align: center;
        color: white;
      }
    }

    .days
    {
      width: 100%;

      .day, .empty
      {
        float: left;
        width: 14.2857%;
        height: 66px;
        padding: 24px 0;

        text-align: center;
        color: #4f4f4f;
        background-color: red;
        border-bottom: 2px solid white;

        background-color: purple;
        background-size: cover;
        background-position: center;

        &.event
        {
          .day-number
          {
            padding-bottom: 4px;
            border-bottom: 2px solid darkblue;
          }
        }

        &.adjacent-month
        {
          .day-number
          {
            opacity: 0.3;
          }
        }
      }

      .today
      {
        background-color: white;
        background-image: none;
      }

    }
  }

  .event-listing
  {
    float: left;
    width: 35%;

    .event-listing-title
    {
      padding: 14px;
      background-color: blue;
      text-align: center;
      color: white;
      letter-spacing: 1px;
    }
    .event-item
    {
      padding: 14px;
      color: #4f4f4f;
    }
    .event-item-location
    {
      font-weight: 400;
    }
  }
}


.footer {
  color: #555;
  clear: left;
  background: #222;
  padding: 30px 0;
  border: none !important;
  text-align: center;
  .footer-img {
    width: 150px;
  }
  credits {
    display: block;
    font-size: 12px;
    padding-top: 30px;
  }
}
